html{
    background: radial-gradient(rgb(8, 8, 97),black);;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

body{
    color: white;
}
h1{
    display: flex;
    justify-content: center;
    font-weight: normal;
    text-align: center;
    font-size: 5em
}
canvas{
    /* background-color:azure; */
    background-image: url("./spaceBG.gif");
    background-repeat: no-repeat;
    background-size: 100%
}
h2{
    display:none;

}
#trooper{
    display:none;

}
#explosion{
    display:none;
}
#boss{
    display:none;
    
}
#steve{
    display:none;
}
#block{
    display:none;
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.button{
    color: black;
    font-size: 3em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 100px;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
}
#mainH1:hover{
    cursor: pointer;
}


.notYet:hover{
    font-size: 0em;
    cursor: not-allowed;
}

.notYet:hover::after{
    content: "Coming soon";
    font-size: 50px;
    line-height: 28px;
    font-weight: bold;
}